body{
	background-color:#000916;
	}
#header{
	color:white;
	border:1px solid black;
	box-shadow:4px 4px 4px #071733;
}
#header img{
	height:310px;
	width:450px;
	opacity: 0.5;
  filter: alpha(opacity=50);
}
#header h1{
	margin-top:100px;
	font-family:Tangerine, cursive;
	text-shadow: 4px 4px 4px #aaa;
	font-size:60px;
}
#header h2{
	font-size:40px;
	font-family:Tangerine, cursive;
}
#side_header{
	float:right;
	padding-top:20px;
	margin-right:80px;
	font-size:30px;
}
#side_header img{
	width:30px;
	height:30px;
}
#navigation_bar{
	padding-top:10px;
	padding-bottom:10px;
}
#about{
	border:2px solid black;
	box-shadow:2px 2px 2px #071733;
	color:#a9a9aa;
	padding-top:18px;
	font-size:22px;
	text-indent:40px;
	text-align:justify;
	padding-left:30px;
	padding-right:30px;
}
#timeline{
	text-align:justify;
	font-size:19px;
	color:#a9a9aa;
}
#timeline1{
	border:2px solid black;
	box-shadow:2px 2px 2px #071733;
	padding-top:15px;
	padding-left:30px;
	padding-right:20px;
}
#timeline2{
	border:2px solid black;
	box-shadow:2px 2px 2px #071733;
	padding-top:20px;
	padding-left:30px;
	padding-right:20px;
	padding-bottom:20px;
}
#achievement{
	border:2px solid black;
	box-shadow:2px 2px 2px #071733;
	color:#a9a9aa;
	font-size:20px;
	padding-top:18px;
	padding-left:30px;
	padding-right:30px;
	text-align:justify;
}
#quotes{
	border:2px solid black;
	box-shadow:2px 2px 2px #071733;
}
#myCarousel ol{
	display:none;
}
#books{
	border:2px solid black;
	box-shadow:2px 2px 2px #071733;
}
#bio{
	border:2px solid black;
	box-shadow:2px 2px 2px #071733;
	color:#a9a9aa;
	font-size:20px;
	padding-top:20px;
	padding-bottom:20px;
	padding-left:30px;
	padding-right:30px;
	text-align:justify;
}
@media screen and (max-width: 980px) {
	#header h1 {
    font-size:35px;
    margin-top:30px;
	}
#header h2 {
	font-size:25px;
}
}
@media screen and (max-width: 650px) {
	#navigation_bar{
	width:auto;
}
	#side_header{
	font-size:20px;
	padding-top:0px;
	padding-bottom:10px;
}
}
	
